---
---

@import "{{ site.theme }}";

table { background: #ece4d8; display: table; width: 100%; border-collapse: separate; border-bottom: 2px solid #bdb6ad; margin: 10px 0; }

td { display: table-cell; padding: 1em .7em; border: solid #ece4d8; border-width: 0 2px 2px 0; vertical-align: top; text-align: center; }
