<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

{% seo %}
  </head>

  <body>
    <!-- <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a> -->
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}


      <span class="banner-fix"></span>


      <section id="main_content">
        {{ content }}
      </section>

      <table >
        <tr>
          <td><a href="https://www.colorado.edu/faculty/claire-monteleoni/"><img src="assets/img/Claire.png"><br>Claire Monteleoni<br>Associate Professor, and the Associate Chair for Inclusive Excellence, in the Department of Computer Science at the University of Colorado Boulder</a><br><i>machine learning for the study of climate change helped launch the interdisciplinary field of Climate Informatics.</i><br></td>
          <td><a href="https://www.isi.edu/~gil/"><img src="assets/img/YGil3.png"><br>Yolanda Gil<br>Senior Director for Major Strategic AI and Data Science Initiatives USC's Information Sciences Institute (ISI)</a><br><i>intelligent interfaces for knowledge capture, knowledge-based planning and problem solving, information analysis and assessment of trust, semantic annotation, software choreography, community-wide development of knowledge bases. </i><br></td><tr>
        </tr>
        <tr>
      <td><a href="https://www.linkedin.com/in/farzaneh-tabataba-a3202aa8/"><img src="assets/img/Farzaneh.png"><br>Farzaneh Tabataba<br>Software Engineer & Data Scientist, Bloomberg L.P. </a><br><i>Data Science, Machine learning, Knowledge graph</i><br></td>
      <td><a href="https://www.shiwali.me/"><img src="assets/img/S_Mohan.png"><br>Shiwali Mohan<br>Senior Member of Research Staff at the Palo Alto Research Center (Xerox PARC)</a><br><i>human-AI collaborative systems, hybrid AI systems, cognitive modeling, AI architectures</i><br></td>
    </tr>
    <tr>
          <td><a href="http://blender.cs.illinois.edu/hengji.html"><img src="assets/img/H_Ji.png"><br>Heng Ji<br>Professor, University of Illinois at Urbana-Champaign</a><br><i>natural language processing</i><br></td>
          <td><a href="https://smaglia.wordpress.com"><img src="assets/img/Sara.png"><br>Sara Magliacane<br>Assistant Professor at University of Amsterdam and Research Scientist at MIT-IBM Watson AI Lab</a><br><i>Causality, causal inference, transfer learning</i><br></td>
        </tr>
        <tr>
  <td><a href="https://www.wkiri.com/"><img src="assets/img/Kiri.png"><br>Kiri Wagstaff<br>Principal Researcher, Jet Propulsion Laboratory, Associate Research Professor, Oregon State University</a><br><i>machine learning, active learning, unsupervised learning and discovery, machine learning applications to natural science domains, competency-aware machine learning</i><br></td>
  <td><a href="https://scholar.google.com/citations?user=WWpGXYEAAAAJ&hl=en"><img src="assets/img/Rezarta.png"><br>Rezarta Islamaj<br>Staff Scientist, National Library of Medicine, National Institutes of Health</a><br><i>data science, machine learning, text mining, biomedical named entity recognition, relationship extraction, information extraction, biocuration, corpus annotation</i><br></td>
</tr>
<tr>
  <td><a href="https://web.eecs.umich.edu/~dkoutra/"><img src="assets/img/Danai.png"><br>Danai Koutra<br>Morris Wellman Assistant Professor, University of Michigan</a><br><i>data science, large-scale graph mining, graph neural networks, network representation learning, network summarization, network alignment, network neuroscience </i><br></td>
  <td><a href="http://www.cs.uky.edu/~goldsmit"><img src="assets/img/Judy.png"><br>Judy Goldsmith<br>Professor of Computer Science, University of Kentucky</a><br><i>Computational Social Choice, Opinions in Social Networks, CS Ethics Pedagogy, Computational Complexity</i><br></td>
</tr>
<tr>
  <td><a href="https://dblp.org/pid/r/FrancescaRossi.html"><img src="assets/img/F_Rossi.png"><br>Francesca Rossi<br>IBM AI Ethics Global Leader, IBM Research, US</a><br><i>preferences, constraints, multi-agent systems, fairness, computational social choice, neuro-symbolic AI</i><br></td>
  <td><a href="https://sites.google.com/site/lahiatt/home"><img src="assets/img/Laura.png"><br>Laura Hiatt<br>Senior Research Scientist, Naval Research Laboratory</a><br><i>Human-robot interaction; cognitive science; planning, scheduling and execution</i><br></td>
</tr>
<tr>
  <td><a href="https://www-users.cs.umn.edu/~gini/"><img src="assets/img/M_Gini.png"><br>Maria Gini<br>College of Science & Engineering Distinguished Professor</a><br><i>Artificial Intelligence, Robotics, Intelligent Agents.</i><br></td>
  <td><a href="https://www.simmons.edu/academics/faculty/marie-desjardins"><img src="assets/img/robo.png"><br>Marie desJardins<br>Dean of the College of Organizational, Computational, and Information Sciences, Simmons University</a><br><i>artificial intelligence, machine learning, CS education</i><br></td>
</tr>
<tr>
  <td><a href="https://research.google/people/NatalyaNoy/"><img src="assets/img/N_Noy.png"><br>Natasha Noy<br>Senior Staff Research Scientist at Google Research</a><br><i>Semantic Web, structured data, search, open data</i><br></td>
  <td><a href="http://nesreenahmed.com"><img src="assets/img/N_Ahmed.png"><br>Nesreen Ahmed<br>Senior Researcher & Tech Lead, Intel Labs</a><br><i>Theory and algorithms, Statistical Relational learning, Graph neural networks, Large-scale Machine Learning Algorithms</i><br></td>
</tr>
<tr>
  <td><a href="https://www.linkedin.com/in/ningyu7/"><img src="assets/img/robo.png"><br>Ning Yu<br>Senior Research Scientist, AI/ML Accelerator, Leidos INC.</a><br><i>Natural language processing applications, Information retrieval, Recommendation system, Domain adaptation</i><br></td>
  <td><a href="https://www.cs.purdue.edu/homes/neville/"><img src="assets/img/J_Neville.png"><br>Jennifer Neville<br>Samuel D. Conte Professor of Computer Science, Purdue University</a><br><i>Artificial intelligence, machine learning, data mining, relational learning, graph learning, social network analysis, link analysis</i><br></td>
</tr>
<tr>
  <td><a href="https://www.ics.uci.edu/~dechter/index.html"><img src="assets/img/Rina.png"><br>Rina Dechter<br>Distinguished Professor, UC Irvine</a><br><i>Graphicl models, Constraint processing, heuristic search, inference.</i><br></td>
  <td><a href="https://furong-huang.com/"><img src="assets/img/Furong.png"><br>Furong Huang<br>Assistant Professor, University of Maryland</a><br><i>High-dimensional statistics, Deep Learning Theory, Reinforcement Learning, Spectral Methods, Tensor Decompositions, Latent Variable Models</i><br></td>
</tr>
<tr>
  <td><a href="http://www.cs.toronto.edu/~sheila"><img src="assets/img/Sheila.png"><br>Sheila McIlraith<br>Professor Department of Computer Science, CIFAR Canada AI Chair and Faculty Member (Vector Institute), Research Lead Schwartz Reisman Institute for Technology and Society</a><br><i>KR, sequential decision making, reinforcement learning, automated planning,  AI Safety, human-compatible AI, neuro-symbolic AI</i><br></td>
  <td><a href="https://scholar.google.com/citations?hl=fr&user=KSdsq6AAAAAJ&view_op=list_works&sortby=pubdate"><img src="assets/img/Fatiha.png"><br>Fatiha Sadat<br>Professor, University of Quebec in Montreal</a><br><i>Natural Language Processing,  Computational Linguistics, Machine Translation, Less-resourced languages, Indigenous languages.</i><br></td>
</tr>
<tr>
  <td><a href="https://www.cs.umd.edu/~golbeck"><img src="assets/img/J_Golbeck.png"><br>Jennifer Golbeck<br>Professor, University of Maryland</a><br><i>social media, personalization, user modeling, privacy</i><br></td>
  <td><a href="https://www.linkedin.com/in/beckythomas/"><img src="assets/img/BeckyT.png"><br>Becky Thomas<br>Chief Operating Officer, i2k Connect</a><br><i>Artificial Intelligence, Machine Learning, Cloud, OpenSource</i><br></td>

</table>

      <section id="main_content">
        <center>
        Co-Chairs: <a href="https://www.cs.uic.edu/~elena/">Elena Zheleva (UIC)</a> & <a href="https://researcher.watson.ibm.com/researcher/view.php?person=ibm-Maria.Chang">Maria Chang (IBM Research)</a>
        <br>
        <hr>
        <a href="https://virtual.2021.aaai.org/">Take me back to AAAI-21</a>
      </center>
      </section>


      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            {% if site.custom_footer_ribbon %}
              <p>{{ site.custom_footer_ribbon }}</p>
            {% else %}
              {% if site.github.is_project_page %}
                <p>this project by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
              {% endif %}
              {% if site.github.is_user_page %}
                <p>Projects by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
              {% endif %}
            {% endif %}
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
        <p>Generated with <a href="https://pages.github.com">GitHub Pages</a> using Merlot</p>
        <span class="octocat"></span>
      </footer>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
